/* Reset some default styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Header styling */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Main content styling */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Task input form styling */
.task-form {
    display: flex;
    margin-bottom: 20px;
}

.task-form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
}

.task-form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Task list styling */
.task-list ul {
    list-style-type: none;
    padding: 0;
}
.user-select{
    margin: 5px;
    padding-inline: 5px;
    font-weight: bold;
}

.task-form input{
    margin: 10px;
}
#add-task{
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
}

#file-input{
    margin-top: 10px;
    padding-top: 10px;
}


#task-input{
    border: 2px solid black;
    border-radius: 10px;

}

.task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #fff;
}

.task-list li button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    cursor: pointer;
}

.task-list li button:hover {
    background-color: #d9534f;
}
.self-info{
    display: block;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-left: 40%;
}
.self-info a{
    align-items: center;
    padding-inline: 10px;
    padding-left: 20px;
}

